<div>
  <button mat-button (click)="addAdress()">Add adress </button>
  <button mat-button (click)="addPersonalInfo()">Add personal Info</button>
</div>

<div>
  <h2>Address</h2>
  <ng-container *ngIf="address$|async as address">
    <p><strong>Street:</strong> {{ address.street }}</p>
    <p><strong>City:</strong> {{ address.city }}</p>
    <p><strong>State:</strong> {{ address.state }}</p>
    <p><strong>Postal Code:</strong> {{ address.postalCode }}
  </ng-container>

</div>


<div>
  <h2>Personal Info</h2>
  <ng-container *ngIf="personalInfo$|async as personalInfo">
    <p><strong>First Name:</strong> {{ personalInfo.firstName }}</p>
    <p><strong>Last Name:</strong> {{ personalInfo.lastName }}</p>
    <p><strong>Email:</strong> {{ personalInfo.email }}</p>
    <p><strong>Phone:</strong> {{ personalInfo.phone }}</p>
  </ng-container>
</div>
